/* Reset e Fullscreen */
* { box-sizing: border-box; margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; overflow: hidden; font-family: Arial, sans-serif; }
canvas { display: block; width: 100%; height: 100%; }

/* Loading */
#loading {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: white;
  z-index: 10;
}
